<div class="section-container">
  <div class="section-title-container">
    <div class="section-title">Projects</div>
    <div class="section-title-buttons-container">
      <button class="button section-title-button" (click)="createProject()">New</button>
      <button class="button section-title-button" [disabled]="projectSelectedName == null" (click)="openProjectFolder()">Open</button>
      <button class="button section-title-button" (click)="openProjectsFolder()">View in Explorer</button>
    </div>
  </div>
  <div class="list-container">
    <div class="list-entry-container no-hover" *ngIf="showCreateProject">
      <div class="world-name">
        <input class="input rename-input" [(ngModel)]="createProjectNameInput">
        <button class="button icon-button" (click)="toggleCreateProjectLanguage()">
          <img *ngIf="createProjectLanguage == 'kotlin'" src="assets/projects/kotlin_icon.png">
          <img *ngIf="createProjectLanguage == 'java'" src="assets/projects/java_icon.png">
        </button>
        <button class="button" (click)="confirmCreateProject()" [disabled]="!confirmCreateProjectAllowed()">Create</button>
      </div>
    </div>
    <div class="list-no-entry muted" *ngIf="projects.length == 0 && !showCreateProject">
      No projects.
    </div>
    <div class="list-entry-container" [class.selected]="projectSelectedName == project.name" *ngFor="let project of projects" (click)="selectProject(project)">
      <div class="world-name">
        {{project.name}}
        <img *ngIf="project.language == 'kotlin'" src="assets/projects/kotlin_icon.png">
        <img *ngIf="project.language == 'java'" src="assets/projects/java_icon.png">
      </div>
    </div>
  </div>
</div>
