<div id="container">

  <div id="top-bar">
    <div>
      <img src="assets/icon.png" id="icon">
      <div id="title">Cranberri</div>
    </div>
    <div>
      <button class="button" [class.warn-button]="!isInstalled || updateAvailable" (click)="openSettings()" *ngIf="route == '/'">
        Settings<ng-container *ngIf="!isInstalled || updateAvailable">: {{!isInstalled ? "Install" : "Update"}}</ng-container>
      </button>
      <button class="button primary-button" (click)="close()">Done</button>
    </div>
  </div>

  <div id="content-container">
    <router-outlet></router-outlet>
  </div>

</div>
