<div id="container">

  <ng-container *ngIf="!isInstalled">

    <h2>Install</h2>
    <button class="button primary-button" (click)="install()">
      Install Paper & Cranberri Plugin
      <span class="loader" *ngIf="installLoading"></span>
    </button>

  </ng-container>
  <ng-container *ngIf="isInstalled">

    <h2>Updates</h2>
    <div class="lines">
      <div>
        Cranberri GUI:
        <span [class]="needsUpdate?.cranberriGui ? 'warn' : 'ok'">{{updateInfo?.cranberriGuiVersion}}</span>
        <ng-container *ngIf="needsUpdate?.cranberriGui">
          -> {{currentVersions?.cranberriGuiVersion}}
        </ng-container>
      </div>
      <div>
        Paper:
        <span [class]="needsUpdate?.paper ? 'warn' : 'ok'">{{updateInfo?.paperVersion}}</span>
        <span *ngIf="!needsUpdate?.paper && updateInfo?.paperVersion != currentVersions?.paperVersion" class="muted"> ({{currentVersions?.paperVersion}})</span>
        <ng-container *ngIf="needsUpdate?.paper">
          -> {{currentVersions?.paperVersion}}
        </ng-container>
      </div>
      <div>
        Cranberri Server Plugin:
        <span [class]="needsUpdate?.plugin ? 'warn' : 'ok'">{{updateInfo?.pluginVersion}}</span>
        <ng-container *ngIf="needsUpdate?.plugin">
          -> {{currentVersions?.pluginVersion}}
        </ng-container>
      </div>
    </div>
    <p *ngIf="needsUpdate?.cranberriGui">
      To update Cranberri GUI:
      Visit on GitHub <a target="_blank" href="https://github.com/JupiterPi/cranberri-gui/releases/latest">JupiterPi/cranberri-gui <span class="nowrap">-></span> Releases</a>
      and download the bundle under the latest release's assets.
      Replace the current installation and restart Cranberri to apply changes.
      <b><i>Important:</i></b> Follow instructions, if provided in the release notes, on how to proceed with your saved worlds and projects!
    </p>
    <p *ngIf="needsUpdate?.paper">
      To update Paper:
      Visit <a target="_blank" href="https://papermc.io/downloads/paper">PaperMC <span class="nowrap">-></span> Downloads</a>
      or <a target="_blank" href="https://papermc.io/downloads/all"><span class="nowrap">-></span> Build Explorer</a>
      and locate the required version. Replace the current file and restart Cranberri to apply changes.
    </p>
    <p *ngIf="needsUpdate?.plugin">
      <button class="button primary-button" (click)="updatePlugin()">
        Update Cranberri Server Plugin
        <span class="loader" *ngIf="installLoading"></span>
      </button>
    </p>

  </ng-container>

  <ng-container *ngIf="isInstalled">
    <h2>Useful Directories</h2>
    <div class="lines">
      <a (click)="openOtherFolder('server')" href="javascript:void(0)">Server directory</a>
      <a (click)="openOtherFolder('projects')" href="javascript:void(0)">Projects directory</a>
      <a (click)="openOtherFolder('worlds_archive')" href="javascript:void(0)">Archived worlds</a>
    </div>
  </ng-container>

  <h2>Info</h2>
  <div>
    Cranberri is currently under development at <a target="_blank" href="https://github.com/JupiterPi/cranberri">JupiterPi/cranberri</a>
    and <a target="_blank" href="https://github.com/JupiterPi/cranberri-gui">/cranberri-gui</a>.
    Please report issues on the respective Issues pages or directly to me.
  </div>

</div>
